/* #region REGELES GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat;

    color: var(--black);
    background-color: var(--white);

    /* STRUCTURE */
    --bordercolumns: 21vw;
    --centercolumn: 50vw;
}

/* PALETTE */
.light-theme {
    --white: white;
    --black: black;
    --grey: #d4d4d4;
    --blue: #0B22EE;
    --red: red;
    --green: green;
    --shadow: rgba(0, 0, 0, 0.25);
}
.dark-theme {
    --white: black;
    --black: white;
    --grey: #474747;
    --blue: #0B22EE;
    --red: red;
    --green: green;
    --shadow: rgba(255, 255, 255, 0.25);
}

button, a {
    cursor: pointer;
    text-decoration: none;
}

body {
    padding: 0 2vw;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}
/* #endregion */

/* #region STRUCTURE */
nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    height: 10vh;
    width: var(--bordercolumns);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div:first-child {
    justify-content: flex-start;
}

nav div:nth-child(2) {
    width: var(--centercolumn);
}

nav div:last-child {
    justify-content: flex-end;
}

#sections {
    display: flex;
    justify-content: space-between;
}

section {
    width: var(--bordercolumns);
    height: 90vh;
}

section#feed {
    width: var(--centercolumn);
}

section>*:first-child {
    text-align: center;
    margin-bottom: 3vh;
}
/* #endregion */

/* #region NAV */
nav>div:first-child a {
    font-weight: bold;
    font-size: 1.1rem;
}

nav input {
    background-color: var(--grey);
    width: 100%;
    height: 5vh;
    border-radius: 2.5vh;
    margin: 0 25px;
}

nav button {
    height: 5vh;
    aspect-ratio: 1;
    background-color: var(--grey);
    margin-left: 2.5vh;
    border-radius: 50%;
}
/* #endregion */

/* #region PAGES */
#pages button {
    background-color: transparent;
    display: block;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
/* #endregion */

/* #region FEED */
#feed {
    position: relative;
}

#feed-posts {
    overflow-y: auto;
    padding: 25px;
    height: 90%;
}

#feed-posts::-webkit-scrollbar {
    display: none;
}

.post {
    box-shadow: 0 0 20px 5px var(--shadow);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.post .top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.post .top-bar img {
    aspect-ratio: 1;
    height: 30px;
    border-radius: 50%;
}

.post .top-bar *:not(:first-child) {
    margin-left: 10px;
}

.post .top-bar p {
    opacity: 0.5;
}

.post .top-bar .posted-time {
    position: absolute;
    right: 0;
}

.post .content {
    margin: 15px 0;
}

.post .buttons {
    display: flex;
    align-items: center;
}

.post .buttons button {
    aspect-ratio: 1;
    height: 30px;
    border-radius: 50%;
    background-color: var(--green);
}

.post .buttons button.downvote {
    background-color: var(--red);
}

.post .buttons *:not(:first-child) {
    margin-left: 10px;
}
/* #endregion */