/* #region REGELES GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat;

    /* STRUCTURE */
    --bordercolumns: 21vw;
    --centercolumn: 50vw;

    /* PALETTE */
    --grey: #d4d4d4;
    --blue: #0B22EE;
}

button {
    cursor: pointer;
}

body {
    padding: 0 2vw;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}
/* #endregion */

/* #region STRUCTURE */
nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    height: 10vh;
    width: var(--bordercolumns);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div:first-child {
    justify-content: flex-start;
}

nav div:nth-child(2) {
    width: var(--centercolumn);
}

nav div:last-child {
    justify-content: flex-end;
}

#sections {
    display: flex;
    justify-content: space-between;
}

section {
    width: var(--bordercolumns);
    height: 90vh;
}

section#feed {
    width: var(--centercolumn);
}

section *:first-child {
    text-align: center;
    margin-bottom: 3vh;
}
/* #endregion */

/* #region NAV */
nav input {
    background-color: var(--grey);
    width: 100%;
    height: 5vh;
    border-radius: 2.5vh;
}

nav button {
    height: 5vh;
    aspect-ratio: 1;
    background-color: var(--grey);
    margin-left: 2.5vh;
    border-radius: 50%;
}
/* #endregion */

/* #region PAGES */
#pages button {
    background-color: transparent;
    display: block;
}
/* #endregion */